body {
    background-color: #fcf5EB;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
#logo {
    display: flex;
    align-items: center;
}
#logo img {
    width: 30px;
}
#logo span {
    color: rgb(37, 211, 102);
    font-weight: 700;
    font-size:22px;
}
#download {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(16, 15, 15);
    border-radius: 12px;
    padding: 20px 24px;
    align-items: center;
    gap: 16x;
    max-width: 900px;
    margin: 40px auto;
    background-color: rgb(255, 255, 255);
}
#download-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#download img {
    width: 48px;
    flex-shrink: 0;
}
h3 {
    margin: 0;
    font-weight: 600;
    color: rgb(62, 58, 69);
}
#download p {
    margin: 0;
    font-size: 14px;
    color: rgb(31, 38, 40);
}
#download-button {
    background-color: rgb(37, 211, 102);
    color: black;
    border-radius: 20px;
    padding: 10px 24px;
    cursor: pointer;
}
#steps {
    border: 1px solid rgb(16, 15, 15);
    border-radius: 12px;
    padding: 20px 24px;
}