body {
   font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
   background-color: rgb(255, 255, 255);
}
#logo {
    display: flex;
    align-items: center;
}
#logo img {
    width: 30px;
}
#logo span {
    font-size: 22px;
    font-weight: 700;
    color: rgb(37, 211, 102);
}
#download {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px 24px;
    gap: 16px;
    margin: 40px auto;
    max-width: 900px;
    background-color: rgb(255, 255, 255,);
}
#download img {
    width: 50px;
    flex-shrink: 0;
}
#download-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
h3 {
    margin: 0;
    color: rgb(31, 38, 40);
}
#download-button {
    background-color: rgb(37, 211, 102);
    border-radius: 20px;
    width: 100px;
    padding: 12px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    gap: 6px;
}
#instructions {
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(255, 255, 255,);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    max-width: 900px;
    gap: 40px;
}
#steps {
    flex: 1;
}
#steps img {
    width: 25px;
    vertical-align: middle;
    margin-left: 5px;
}
#qrcode {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
#qrcode a {
    text-decoration: none;
    border-bottom: 2px solid rgb(37, 211, 102);
    color: rgb(35, 44, 49);
}
#qrcode img {
    width: 200px;
    height: auto;
}
#account {
    color: #444;
    text-align: center;
    margin-top: 20px;
    font-size: 0.95rem;
}
#account a {
    color: rgb(20, 31, 51);
    text-decoration: none;
    border-bottom: 2px solid #25D366;
}
#encrypted {
    color: rgb(98, 104, 108);
}
a:hover {
    background-color: #98f0cb;
}
input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid;
    border-radius: 4px;
    position: relative;
    vertical-align: middle;
}
input[type="checkbox"]:checked {
    background-color: #25D366;
    border-color: #25D366;
}
input[type="checkbox"]:checked::after {
    content: '✔';
    color: white;
    font-size: 14px;
    position: absolute;
    top: -2px;
    left: 2px;
}
footer {
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    margin: 40px auto;
    padding: 10px;
    background-color: #98f0cb;
    color:  #44484B;
}
